<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />

    <title>Drug Interactions: Marked &quot;Interacting&quot;</title>

  </head>
  <body>
    <!-- A simple form for changing the graph -->
    <h1>Drug Interactions: Marked &quot;Interacting&quot;</h1>
      <p>By searching the <a href="https://open.fda.gov/drug/event/" target="_blank">openFDA Adverse Drug Events database</a> for a given drug,
      this app finds the proportion of reports marked &quot;interacting&quot;.
      Only looks for fatal cases submitted by physicians.
      </p>
    <form id='input' method='post' action='plotbokeh'>
        Type in a list of generic drug names separated by commas (try Hydrocodone, Albuterol, Amoxicillin, Atorvastatin):
        <input type="text" name="drugs" size="50">
        <br>
        <button type="submit">Submit and plot</button>
    <p>You can see a list of generic drug names <a href="http://www.pharmacy-tech-test.com/top-200-drugs.html" target="_blank">here</a>.
    <h2>Disclaimer</h2>
    <p>Do not rely on this tool to make decisions regarding medical care.
    Always speak to your health provider about the risks and benefits of medications.
    For more information, see <a href="https://open.fda.gov/drug/event/reference/" target="_blank">open.fda.gov/drug/event/reference</a>
    and the <a href="https://open.fda.gov/terms/" target="_blank">openFDA terms of service</a>.
    </p>
    </form>
    <p> Seto Balian, Jul 17, 2016.</p>
  </body>
</html>
