<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />

    <title>Drug Interactions: Marked &quot;Interacting&quot;</title>

    <form>
    <input type="button" value="Back" onClick="history.go(-1);return true;">
    </FORM>

    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}

  </head>
  <body>
    
    <!-- A simple form for changing the graph -->
    {{ plot_div|indent(4)|safe }}
    <p> You'll see an empty plot if none of the drugs were found.</p>
    <p> Seto Balian, Jul 17, 2016.</p>
  </body>
</html>
